.newsLetter{
    width: 100%;
    height: 40vh;
    background-color:  var(--primary);
    color:#FFFFED; 
 }
.container{
     width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
   
}
 .heading{
    font-size: 30px;
    font-weight: 800;
    font-style: oblique;

 }
.center{
 width: 70%;
 margin:0px  auto;
 }
.description{
    font-size: 20px;
    font-weight: 600;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;

}
.emailBox{
    outline: none;
    width:600px;
    border: none;
    padding:15px;
    font-size: 20px;
    color: var(--primary);
    
}
.emailBox::placeholder{
    color:  var(--primary);
}
.send{
    background-color:#e7e7de;
    color:  var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height:53px;
    cursor: pointer;
}